{% extends "base.html" %}
{% block content %}


<h3>About Andrew</h3>

<div id ="ProfContainer"></div>
    <img src="picture.jpg" alt="Andrew sitting on a green bench at the park using sunglasses holding a sandwich"> 
    <p>My name is Andrew Sprague and I am a student at CSM currently studying computer science. I am born and raised in the bay area my whole life and so has the majority of my family.
            I grew up playing lots of sports and that love of sports has carried over into adulthood. You can catch me either watching or going to many sporting events. This is the same 
            for all the music festivals and concerts I go to. I do have a BFA degree where I am able to express my creative side of myself. I love to make art for my friends and family, mainly 
            making logos or designs for their products. The most importnat things in my life are my family and my friends who I trust and love more than anything in this world.
    </p>
</div>



{%endblock%}