{% extends "base.html" %}
{% block content %}

<h3>About CIS 117</h3>
<p>
    Comprehensive course in Python, an open-source dynamic object-oriented scripting language. Covers variables, arrays, lists, tuples, dictionaries, functions, methods, classes, objects, and writing server-side Python scripts for the Web. Also covered are exception handling, regular expressions, and modules. An introduction to SQL and the MySQL database, and advanced topics such as Model-View-Controller architecture and Web application development with the Django framework. Intended for students with previous programming experience.
</p>

{%endblock%}