html {
	height: 100%;
}
p{
	padding-right: 1rem;
    padding-left: 0.5rem;
	font-size: .85rem;
}
body { background-color: lightgoldenrodyellow; 
       font-family: Helvetica, Arial, sans-serif; 
	   min-height: 100%;
	   padding-top: 4rem;
	   font-size: 1.5rem; 
	    }
h2{
	font-size: 1rem; 
	padding-top: 4rem;
}	   
nav{
	padding-bottom: 2rem;
}
h1 { text-align: center; 
     margin-bottom: 2rem;
	 padding-top: 4rem;
	 font-style: italic; }

img { float: left; 
      border: 3px solid blue;
	  border-radius: 10px; }
label{
	font-size: .85rem;
}