html {
	height: 100%;

}
p{
	margin:0rem;
	background-color: #ffe5a9;
	padding-right: 1rem;
    padding-left: 0.5rem;
	font-size: .85rem;
}
body { 
	   color: 	#423f3b;
	   background-color: #ffe5a9;
	   min-height: 100%;
	   padding-top: 4rem;
	   font-size: 1.5rem; 
	    }
h2{
	margin:0rem;
	background-color:#ffe5a9;
	padding-left: 0.5rem;
	padding-top: 1rem;
}	   
nav{
	width:100%;
	padding-bottom: 2rem;
}
h1 {
	 font-family: Helvetica, Arial, sans-serif;
	 background-color: #525266;
	 color: #cbbeb5;
	 text-align: center; 
     margin-bottom: 2rem;
	 padding-top: 4rem;
	 padding-bottom: 4rem;
	 font-style: italic; }

.accordion-body{
	padding:0rem;
}
.accordion-body p{
	border:.25rem solid 	#ff6666;
	padding:1rem;
}

.accordion-header{
	padding-left:0rem;
	padding-right: 75%;
}

.accordion-item{
	border:none;
}
.accordion-button{
	color: #cbbeb5;
	background-color:#525266;
	padding-right: .75rem;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.imageContainer1{
	height:10rem;
	width:10rem;
}
.imageContainer2{
	height:15rem;
	width:15rem;
}
.imageContainer3{
	height:15rem;
	width:15rem;
}
.gallery1 { 
	width: 92%;
	height: 15rem;
	display:flex;
	justify-content: space-between;
}
.gallery2 { 
	width: 92%;
	height: 15rem;
	display:flex;
	justify-content: space-between;
}
.gallery3 { 
	width: 92%;
	height: 15rem;
	display:flex;
	justify-content: space-between;
}
label{
	font-size: .85rem;
}
.wpsm_panel-group .wpsm_panel .wpsm_panel-heading svg path{
	display:none;
 }