{% extends "base.html" %}
{% block content %}

<h3>Wag Adoption</h3>
<p>
    Lucky Dog is committed to finding loving forever homes for each of our dogs and cats. Our customized adoption process is designed to find the best fit for adopters, whatever they may be looking for. You may have a specific pet in mind or just beginning your search for a new family member; wherever you are in the process our Adoption Coordinators are here to guide you through the process.
</p>
<p>
    We are incredibly grateful for the overwhelming interest in our animals. You may notice that our dogs, cats, puppies and kittens are being adopted incredibly quickly and may not stay on the website very long. Please, don't let that deter you! We have more new arrivals coming in all the time, and Lucky Dog is committed to finding you a great fit for your family. We will be happy to help you find a match once we receive your adoption application.
</p>

{%endblock%}